li{
    list-style: none;
    
    height: 48px;
    line-height: 48px;
    display: flex;
    flex-direction: column
}
a{
    text-decoration: none;
    color: black;
}
#nav{
  text-align: left;
}
ul{
    list-style: none;
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: skyblue
}
footer img{
    height:25px; 
    width:25px;
}
*{
    font-family: 'Comic Sans MS';
}
#modulos{
    columns: 2;
    
}
.modulo{
    border: 1px black solid;
}
