*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    background-color: skyblue;
    height: 48px;
    line-height: 48px;
    display: flex;
    flex-direction: column
}
li a{
    padding-left: 50%;
}
a{
    text-decoration: none;
    color: black;
}
#nav{
  text-align: left;
  top: 200px;
  position: relative;
}
ul{
    list-style: none;
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: skyblue
}
footer img{
    height:25px; 
    width:25px;
}
*{
    font-family: 'Comic Sans MS';
}
#modulos{
    columns: 2;
    
}
.modulo{
    border: 1px black solid;
}
header{
    position: relative;
    width: 100%;
}
#izq{
    position: absolute;
    left: 0;
}
#der{
    position: absolute;
    left: 200px;
}
